body{

background:#0a0f0a;
color:white;
font-family:Arial;
margin:0;

}

h1,h2{

color:#22c55e;

}

header{

text-align:center;
padding:60px;

}

.avatar{

width:140px;
border-radius:50%;
border:3px solid #22c55e;

}

.about{

max-width:900px;
margin:auto;
padding:40px;

}

.projects{

padding:60px;

}

.project-grid{

display:grid;
grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
gap:30px;

}

.card{

background:#101810;
padding:25px;
border-radius:10px;
border:1px solid #22c55e;

}

.card ul{

padding-left:20px;

}

.tags span{

border:1px solid #22c55e;
padding:5px 10px;
margin:5px;
display:inline-block;

}

.skills{

padding:60px;

}

.skill{

margin-bottom:20px;

}

.bar{

background:#333;
height:10px;

}

.bar div{

height:10px;
background:#22c55e;

}

.contact{

padding:60px;
text-align:center;

}

input,textarea{

width:300px;
padding:10px;
margin:10px;

}

button{

background:#22c55e;
border:none;
padding:10px 20px;

}
