body{

background:#0a0f0a;
color:white;
font-family:Arial;
margin:0;

}

h1,h2{

color:#22c55e;

}

header{

text-align:center;
padding:60px;

}

.avatar{

width:140px;
border-radius:50%;
border:3px solid #22c55e;

}

.about{

max-width:900px;
margin:auto;
padding:40px;

}

.projects{

padding:60px;

}

.project-grid{

display:grid;
grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
gap:30px;

}

.card{

background:#101810;
padding:25px;
border-radius:10px;
border:1px solid #22c55e;

}

.card ul{

padding-left:20px;

}

.tags span{

border:1px solid #22c55e;
padding:5px 10px;
margin:5px;
display:inline-block;

}

.skills{

padding:60px;

}

.skill{

margin-bottom:20px;

}

.bar{

background:#333;
height:10px;

}

.bar div{

height:10px;
background:#22c55e;

}

.contact{

padding:60px;
text-align:center;

}

input,textarea{

width:300px;
padding:10px;
margin:10px;

}

button{

background:#22c55e;
border:none;
padding:10px 20px;

}

.navbar{
  position: fixed;
  top:0;
  width:100%;
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:15px 60px;
  background: rgba(0,0,0,0.8);
  backdrop-filter: blur(10px);
  border-bottom:1px solid #00ff9c;
  z-index:1000;
}

.logo{
  color:#00ff9c;
  font-family: monospace;
}

.nav-links{
  list-style:none;
  display:flex;
  gap:30px;
}

.nav-links a{
  text-decoration:none;
  color:#ccc;
  font-size:16px;
  transition:0.3s;
}

.nav-links a:hover{
  color:#00ff9c;
}

html{
  scroll-behavior:smooth;
}

#projects{
  padding:120px 80px;
  text-align:center;
}

.section-title{
  font-size:32px;
  color:#00ff9c;
  margin-bottom:50px;
}

.project-container{
  display:flex;
  justify-content:center;
  gap:40px;
  flex-wrap:wrap;
}

.project-card{
  width:300px;
  background:#111;
  border:1px solid #00ff9c44;
  padding:25px;
  border-radius:12px;
  transition:0.4s;
  position:relative;
}

.project-card:hover{
  transform:translateY(-10px);
  box-shadow:0 0 25px #00ff9c55;
}

.project-card h3{
  color:#00ff9c;
}

.project-card p{
  color:#aaa;
  margin:15px 0;
}

.project-card button{
  padding:10px 20px;
  background:#00ff9c;
  border:none;
  color:black;
  cursor:pointer;
  border-radius:5px;
  transition:0.3s;
}

.project-card button:hover{
  background:#00cc7a;
}

#contact{
  padding:120px 80px;
  text-align:center;
}

.contact-container{
  max-width:600px;
  margin:auto;
  display:flex;
  flex-direction:column;
  gap:20px;
}

.contact-container input,
.contact-container textarea{
  padding:12px;
  background:#111;
  border:1px solid #00ff9c44;
  color:white;
  border-radius:6px;
}

.contact-container button{
  padding:12px;
  background:#00ff9c;
  border:none;
  cursor:pointer;
  border-radius:6px;
}

body{
  background: radial-gradient(circle at top,#02110b,#000000);
  font-family: 'Segoe UI', sans-serif;
}
